*{
	margin: 0;
	padding: 0;
	border:0;
	outline: none;
}
body {
	font-family: "arial" , sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	color: #fff;
	background: url(./img/bg.png);

}
.clearfix{
	clear: both;
}

#contaner{
	width: 330px;
	min-height: 400px;
	background: #333;
	overflow:auto;
	margin: 150px 500px;
	border:#666 solid 2px;
	-moz-border-radius:10px;
	-webkid-border-radius:10px;
	border-radius: 10px;
}
#audio-img{
	position: relative;
	overflow: hidden;
	height: 200px;
	margin-bottom: 15PX;
}
.cover{
	width: 100%;
	z-index: 1;
}
#audio-info{
	text-align: center;
}
#audio-info .artist{
	font-weight: bold;
}
input#volume{
	width: 95%;
	-webkid-appearance: none !important;
	margin-left: 2%;
	background:#ccc;
	height: 1px;
	margin-bottom: 20px;
}
input#volume::-webkid-slider-thumb {
	-webkid-appearance: none !important;
	background: url(img/knob.png) no-repeat;
	height: 12px;
	width: 12px;
}
#audio-buttons{
	width: 90%;
	display: block;
	margin:15px auto;
	margin-left: 23px;
	overflow: auto;
}
button#play{
	width: 70px;
	height: 70px;
	background: url(img/play.png) no-repeat;
	float: left;
}
button#pause{
	width: 70px;
	height: 70px;
	background: url(img/pause.png) no-repeat;
	float: left;
}
button#stop{
	width: 70px;
	height: 70px;
	background: url(img/stop.png) no-repeat;
	float: left;
}
button#prev{
	width: 70px;
	height: 70px;
	background: url(img/prev.png) no-repeat;
	float: left;
	margin-top: 15PX;
}
button#next{
	width: 70px;
	height: 70px;
	background: url(img/next.png) no-repeat;
	float: left;
	margin-top: 15PX;
}
#playlist{
	list-style: none;
	padding: 10px;
}
#playlist li{
cursor: pointer;
margin:5px;

}
#playlist li.active{
font-weight: bold;
padding: 3px;
background: #666;
}

#pregressbar{
	width: 80%;
	margin-left: 2%;
	margin-bottom: 20px;
	margin-top: 9px;
	height: 10px;
	background: url(img/progress_bg.png) no-repeat;
	float: left;
}
#pregress{
	
background: url(img/progress.png) no-repeat;
height: 10px;
display: inline-block;
}

#duration{
	position: absolute;
	top: 0;
	right: 10px;
	padding: 4px 8px;
	background: white;
	-moz-border-radius:5px;
	-webkid-border-radius:5px;
	border-radius: 5px;
}
#tracker{
	position: relative;
	width: 100%;
}